@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
body {
  /* Style for "Background" */
  width: 1920px;
  height: 11908px;
  background-color: #ffffff; }

.title-list {
  text-align: center;
  margin: inherit; }

.block-6 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
  grid-template-rows: repeat(4, 1fr);
  margin: auto;
  background-color: #ffffff;
  /* Style for "6 блок" */
  width: 920px;
  height: 1169px; }
  .block-6__title-list {
    text-align: center;
    margin: inherit;
    /* Style for "заголовок" */
    width: 345px;
    height: 62px; }
  .block-6__title {
    /* Style for "Что такое" */
    width: 345px;
    height: 34px;
    color: #000000;
    font-family: "Muller Medium";
    font-size: 36px;
    font-weight: 400; }
  .block-6__decor {
    /* Style for "Фигура 1 к" */
    width: 119px;
    height: 6px;
    color: #c45f1c; }
  .block-6__text {
    /* Style for "Аюрведа -" */
    width: 920px;
    height: 169px;
    color: #000000;
    font-family: "Muller Light";
    font-size: 18px;
    font-weight: 400; }
  .block-6__programa {
    text-align: center;
    margin: auto;
    /* Style for "Программа" */
    width: 592px;
    height: 23px;
    color: #000000;
    font-family: "Muller Medium";
    font-size: 24px;
    font-weight: 400; }
  .block-6__block-list {
    /* Style for "программа" */
    width: 621px;
    height: 720px; }
  .block-6__item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr); }
  .block-6__img {
    /* Style for "1" */
    width: 120px;
    height: 120px; }
  .block-6__list {
    /* Style for "индивидуал" */
    width: 462px;
    height: 57px;
    color: #000000;
    font-family: "Muller Light";
    font-size: 18px;
    font-weight: 400; }

.block-7 {
  margin: auto;
  /* Style for "7" */
  width: 1000px;
  height: 650px; }
  .block-7__fon {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    /* Style for "Прямоуголь" */
    width: 725px;
    height: 264px;
    background-color: #f8f2e4; }
  .block-7__fotograp {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-grap: 1em;
    /* Style for "фото" */
    width: 459px;
    height: 619px; }
  .block-7__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* Style for "заголовок" */
    width: 460px;
    height: 400px; }
  .block-7__title {
    display: -ms-grid;
    display: grid;
    grid-grap: 1em;
    width: 325px;
    height: 50px; }
  .block-7__h3 {
    /* Style for "Аюрведичес" */
    width: 325px;
    height: 28px;
    color: #000000;
    font-family: "Muller Medium";
    font-size: 30px;
    font-weight: 400; }
  .block-7__adress {
    /* Style for "Индия, шта" */
    width: 239px;
    height: 13px;
    color: #4b4b4b;
    font-family: "Muller Light";
    font-size: 14px;
    font-weight: 400; }
  .block-7__text {
    /* Style for "Мы будем ж" */
    width: 460px;
    height: 213px;
    color: #000000;
    font-family: "Muller Light";
    font-size: 12px;
    font-weight: 400; }
  .block-7__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    /* Style for "список" */
    width: 450px;
    height: 234px; }
  .block-7__item {
    /* Style for "комнаты ка" */
    width: 194px;
    height: 226px;
    color: #454545;
    font-family: "Muller Light";
    font-size: 12px;
    font-weight: 400;
    /* Text style for "," */
    color: #000000; }

.block-8 {
  display: -ms-grid;
  display: grid;
  text-align: center;
  background-color: #f8f2e4;
  margin: auto;
  /* Style for "8" */
  width: 1920px;
  height: 1310px; }
  .block-8__title-list {
    /* Style for "заголовок" */
    width: 227px;
    height: 62px; }
  .block-8__title {
    /* Style for "Инструктор" */
    width: 227px;
    height: 35px;
    color: #000000;
    font-family: "Muller Medium";
    font-size: 36px;
    font-weight: 400; }
  .block-8__decor {
    /* Style for "Фигура 1 к" */
    width: 119px;
    height: 6px;
    color: #c45f1c; }
  .block-8__img1 {
    background-image: url("../img/1.jpg");
    /* Style for "1" */
    width: 940px;
    height: 540px; }
  .block-8__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    /* Style for "Прямоуголь" */
    width: 940px;
    height: 170px;
    background-color: #444444;
    opacity: 0.5; }
  .block-8__trainer {
    width: 243px;
    height: 83px;
    color: #ffffff;
    /* Text style for "Ю, лия Ухв" */
    font-family: "Muller Bold";
    font-size: 30px;
    font-weight: 700; }
  .block-8__prof {
    font-size: 16px;
    font-weight: 400;
    font-family: "Muller Regular Italic";
    color: #ffffff; }
  .block-8__img5 {
    /* Style for "Прямоуголь" */
    width: 2px;
    height: 78px;
    background-color: #ffffff; }
  .block-8__text {
    /* Style for "Международ" */
    width: 453px;
    height: 82px;
    color: #ffffff;
    font-family: "Muller Regular";
    font-size: 14px;
    font-weight: 400; }
  .block-8__decor2 {
    /* Style for "Эллипс 4 к" */
    width: 4px;
    height: 4px;
    color: #ffffff; }
  .block-8__img3 {
    background-image: url("../img/11.png");
    /* Style for "1" */
    width: 940px;
    height: 540px; }

.block-9 {
  display: block;
  text-align: center;
  margin: auto;
  /* Style for "9" */
  width: 940px;
  height: 350px;
  background-color: #ffffff; }
  .block-9__title-list {
    /* Style for "заголовок" */
    width: 340px;
    height: 62px; }
  .block-9__title {
    /* Style for "заголовок" */
    /* Style for "Отзывы уча" */
    width: 340px;
    height: 35px;
    color: #000000;
    font-family: "Muller Medium";
    font-size: 36px;
    font-weight: 400; }
  .block-9__otziv {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* Style for "отзыв" */
    width: 757px;
    height: 151px; }
  .block-9__left {
    /* Style for "1439250346" */
    width: 16px;
    height: 25px;
    color: #b8b8b8; }
  .block-9__name-block {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
    grid-template-rows: auto; }
  .block-9__foto {
    /* Style for "0zUe_yNAB3" */
    width: 150px;
    height: 150px; }
  .block-9__name {
    /* Style for "Дмитрий Жи" */
    width: 158px;
    height: 18px;
    color: #000000;
    font-family: "Muller Bold";
    font-size: 18px;
    font-weight: 400;
    /* Text style for "Д, митрий" */
    font-family: "Muller Regular";
    font-weight: 400;
    /* Text style for "" */
    font-family: "Muller Medium";
    font-weight: 500;
    /* Text style for "Жигарев" */
    font-family: "Muller Bold";
    font-weight: 700; }
  .block-9__vk {
    /* Style for "vk.com/zhi" */
    width: 130px;
    height: 13px;
    color: #c94410;
    font-family: "Muller Light";
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline; }
  .block-9__text {
    /* Style for "Мне, как в" */
    width: 569px;
    height: 98px;
    color: #393939;
    font-family: "Muller Regular Italic";
    font-size: 14px;
    font-weight: 400; }
  .block-9__riht {
    /* Style for "1439250346" */
    width: 16px;
    height: 25px;
    color: #b8b8b8; }
  .block-9__znaki {
    /* Style for "кружки" */
    width: 48px;
    height: 10px; }
  .block-9__znaki1 {
    /* Style for "Эллипс 6 к" */
    width: 10px;
    height: 10px;
    border: 2px solid #b4b4b4; }
  .block-9__znaki2 {
    /* Style for "Эллипс 6 к" */
    width: 6px;
    height: 6px;
    color: #b4b4b4; }
  .block-9__znaki3 {
    /* Style for "Эллипс 6 к" */
    width: 6px;
    height: 6px;
    color: #b4b4b4; }

.block-10 {
  display: -ms-grid;
  display: grid;
  text-align: center;
  margin: auto;
  /* Style for "10" */
  width: 1920px;
  height: 890px;
  /* Style for "Прямоуголь" */
  background-color: #f8f2e4; }
  .block-10__title-list {
    /* Style for "заголовок" */
    width: 614px;
    height: 62px; }
  .block-10__title {
    /* Style for "Почему 162" */
    width: 614px;
    height: 35px;
    color: #000000;
    font-family: "Muller Medium";
    font-size: 36px;
    font-weight: 400; }
  .block-10__decor {
    /* Style for "Фигура 1 к" */
    width: 119px;
    height: 6px;
    color: #c45f1c; }
  .block-10__content-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    /* Style for "1" */
    width: 216px;
    height: 122px; }
  .block-10__content-list2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 216px;
    height: 122px; }
  .block-10__content-img {
    /* Style for "1439255359" */
    width: 120px;
    height: 120px; }
  .block-10__content-name {
    /* Style for "Опыт" */
    width: 48px;
    height: 14px;
    color: #000000;
    font-family: "Muller Bold";
    font-size: 18px;
    font-weight: 400; }
  .block-10__content-text {
    /* Style for "За 5 лет р" */
    width: 216px;
    height: 54px;
    color: #000000;
    font-family: "Muller Light";
    font-size: 16px;
    font-weight: 400; }

.block-11 {
  display: block;
  text-align: center;
  margin: auto;
  /* Style for "11" */
  width: 936px;
  height: 329px; }
  .block-11__title-list {
    /* Style for "заголовок" */
    width: 584px;
    height: 117px; }
  .block-11__title {
    text-align: center;
    /* Style for "Как мы раб" */
    width: 292px;
    height: 34px;
    color: #000000;
    font-family: "Muller Medium";
    font-size: 36px;
    font-weight: 400; }
  .block-11__decor {
    /* Style for "Фигура 1 к" */
    width: 119px;
    height: 6px;
    color: #c45f1c; }
  .block-11__text {
    text-align: center;
    /* Style for "Возможно о" */
    width: 584px;
    height: 18px;
    color: #3f3f3f;
    font-family: "Muller Regular Italic";
    font-size: 18px;
    font-weight: 400; }
  .block-11__block-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[11];
    grid-template-columns: repeat(11, 1fr);
    /* Style for "Группа 9" */
    width: 936px;
    height: 152px; }
  .block-11__block-img {
    /* Style for "compose_ed" */
    width: 90px;
    height: 90px; }
  .block-11__block-text {
    /* Style for "Вы оставля" */
    width: 125px;
    height: 12px;
    color: #3f3f3f;
    font-family: "Muller Regular";
    font-size: 12px;
    font-weight: 400; }
  .block-11__block-zayavka {
    /* Style for "Отправить" */
    width: 104px;
    height: 12px;
    color: #ea7231;
    font-family: "Muller Regular";
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline; }
  .block-11__block-znak {
    /* Style for "1439256093" */
    width: 25px;
    height: 17px;
    color: #f0f0f0; }

.block-12 {
  text-align: center;
  margin: auto;
  /* Style for "12" */
  width: 1920px;
  height: 1120px;
  background-color: #f8f2e4; }
  .block-12__title-list {
    /* Style for "заголовок" */
    width: 179px;
    height: 62px; }
  .block-12__title {
    /* Style for "Стоимость" */
    width: 179px;
    height: 27px;
    color: #000000;
    font-family: "Muller Medium";
    font-size: 36px;
    font-weight: 400; }
  .block-12__decor {
    /* Style for "Фигура 1 к" */
    width: 119px;
    height: 6px;
    color: #c45f1c; }
  .block-12__Cost {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    /* Style for "Прямоуголь" */
    width: 820px;
    height: 210px;
    background-color: #ffffff; }
  .block-12__Cost-euro-list {
    /* Style for "700 евро 7" */
    width: 91px;
    height: 115px;
    color: #dd490f;
    font-family: "Muller Light";
    font-size: 20px;
    font-weight: 400;
    line-height: 48px; }
  .block-12__Cost-text-list {
    /* Style for "Тур 14 дне" */
    width: 542px;
    height: 117px;
    color: #000000;
    font-family: "Muller Light";
    font-size: 21px;
    font-weight: 400; }
  .block-12__callout {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    /* Style for "Прямоуголь" */
    width: 820px;
    height: 70px;
    background-color: #f4e1b6; }
  .block-12__callout-text {
    /* Style for "Узнайте о" */
    width: 509px;
    height: 19px;
    color: #000000;
    font-family: "Muller Medium";
    font-size: 20px;
    font-weight: 400; }
  .block-12__callout-botton {
    /* Style for "УЗНАТЬ" */
    width: 48px;
    height: 10px;
    color: #e28234;
    font-family: "Muller Bold";
    font-size: 12px;
    font-weight: 400;
    border: 2px solid #e28234; }
  .block-12__included {
    /* Style for "включено" */
    width: 685px;
    height: 281px; }
  .block-12__included-title {
    /* Style for "В стоимост" */
    width: 263px;
    height: 18px;
    color: #000000;
    font-family: "Muller Medium";
    font-size: 24px;
    font-weight: 400;
    line-height: 60px; }
  .block-12__included-text-list {
    /* Style for "включено" */
    width: 685px;
    height: 281px; }
  .block-12__included-text {
    /* Style for "проживание" */
    color: #4e4e4e;
    font-family: "Muller Regular";
    font-size: 18px;
    font-weight: 400; }
  .block-12__included-img {
    /* Style for "Прямоуголь" */
    width: 14px;
    height: 10px;
    color: #de701f; }
  .block-12__not-included {
    /* Style for "невключено" */
    width: 581px;
    height: 106px; }
  .block-12__not-included-title {
    /* Style for "В стоимост" */
    width: 267px;
    height: 20px;
    color: #000000;
    font-family: "Muller Medium";
    font-size: 24px;
    font-weight: 400;
    line-height: 60px; }
  .block-12__not-included-text-list {
    /* Style for "невключено" */
    width: 581px;
    height: 106px; }
  .block-12__not-included-text {
    /* Style for "перелет Мо" */
    color: #4e4e4e;
    font-family: "Muller Regular";
    font-size: 18px;
    font-weight: 400; }
  .block-12__not-included-img {
    /* Style for "Прямоуголь" */
    width: 10px;
    height: 10px;
    color: #acacac; }
  .block-12__calculated {
    /* Style for "Стоимость" */
    width: 735px;
    height: 39px;
    color: #000000;
    font-family: "Muller Regular";
    font-size: 18px;
    font-weight: 400; }

.block-13 {
  text-align: center;
  margin: auto;
  /* Style for "12" */
  width: 1920px;
  height: 1120px; }
  .block-13__title-list {
    /* Style for "заголовок" */
    width: 399px;
    height: 62px; }
  .block-13__title {
    /* Style for "Гарантия б" */
    width: 399px;
    height: 34px;
    color: #000000;
    font-family: "Muller Medium";
    font-size: 36px;
    font-weight: 400; }
  .block-13__decor {
    /* Style for "Фигура 1 к" */
    width: 119px;
    height: 6px;
    color: #c45f1c; }
  .block-13__text {
    /* Style for "Мы понимае" */
    width: 966px;
    height: 70px;
    color: #000000;
    font-family: "Muller Light Italic";
    font-size: 16px;
    font-weight: 400; }
  .block-13__text2 {
    /* Style for "Вы получит" */
    width: 464px;
    height: 23px;
    color: #000000;
    font-family: "Muller Medium";
    font-size: 24px;
    font-weight: 400; }
  .block-13__foto {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* Style for "фото" */
    width: 901px;
    height: 206px; }
  .block-13__name {
    /* Style for "Туристичес" */
    width: 180px;
    height: 14px;
    color: #000000;
    font-family: "Muller Regular";
    font-size: 14px;
    font-weight: 400; }
  .block-13__img {
    /* Style for "WP_2015101" */
    width: 140px;
    height: 180px; }
